/*////////////// Fonts //////////////*/
@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
h1 {
	padding-bottom: 10px;
  margin: 0 0 5px;
  font-size: 5em;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

h1 a {
	text-decoration: none;
	transition: color 1.5s ease-out;
	color: #98ada6;
}

h1 a:hover {
  color: rgb(111,127,122);
}

h2 {
	color: rgb(111,127,122);
	font-size: 2em;
}

p {
	color: #555;
	font-size: 1em;
	margin: 0 0 20px 0;
}

p a {
	color: #1783bb;
	text-decoration:none;
}

#featured {
	margin: auto;
}

#featured img {
	border: 5px solid #98ada6;
}

#press {
	margin-bottom: 20px;
}

#press img {
	border: 5px #ccc solid;
	padding: 1px;
}

#press figure {
	display: inline;
	margin: 0px;
}

#press a {
	text-decoration:blink;
}

#press img:hover {
	border: 5px rgb(111,127,122) solid;
}


footer {
	text-align: right;
	background: #fff;
	font-size: 0.8em;
}

/* * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */